:root {
    --brand-color: #2196f3;
    --snow: white;
    --almost-black: #212121;
    --mouse: #757575;
    --almost-white: #f5f4fa;
    --dark-grey: #2f303a;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--almost-black);
    width: 1600px;
    max-width: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
}
section {
    padding-block: 94px;
}
.logo-dark {
    font-family: raleway;
    color: var(--almost-black);
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
}
.logo-light {
    font-family: raleway;
    color: var(--snow);
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
}
.logo-part {
    color: var(--brand-color);
}
.link {
    color: var(--almost-black);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1, 2;
    letter-spacing: 2%;
    vertical-align: top;
    text-align: left;
}
.link:hover,
.link:focus,
.link:active {
    color: var(--brand-color);
}
.background {
    background-color: var(--dark-grey);
    padding: 200px 252px 280px 252px;
}
.background-bottom {
    background-color: var(--dark-grey);
    width: 1600px;
}
.text-content {
    color: var(--snow);
    font-size: 44px;
    font-weight: 900;
    line-height: 1, 4;
    letter-spacing: 6%;
    vertical-align: top;
    text-align: center;
    margin-inline: auto;
    width: 696px;
}
.order-service {
    background-color: var(--brand-color);
    border: var(--brand-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--snow);
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1, 9;
    letter-spacing: 6%;
    vertical-align: top;
    text-align: center;
    padding: 10px 41px 10px 42px;
    margin-left: 500px;
}
.title-style {
    font-size: 14px;
    font-weight: 700px;
    line-height: 1, 1;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
}
.text-style {
    color: var(--mouse);
    font-size: 14px;
    line-height: 1, 7;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
}
.specialty {
    font-size: 36px;
    font-weight: 700;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
    margin-left: 624px;
    margin-right: 624px;
    padding-bottom: 50px;
}
.grey {
    background-color: var(--almost-white);
}
.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
}
.position {
    color: var(--mouse);
    font-size: 16px;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
}
.address-style {
    color: var(--snow);
    text-decoration: none;
    font-size: 14px;
    line-height: 1, 7;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
    padding-top: 20px;
    width: 246px;
}
.link-footer {
    color: var(--snow);
    text-decoration: none;
    font-size: 14px;
    line-height: 1, 7;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
}
.link-footer:hover,
.link-footer:focus,
.link-footer:active {
    color: var(--brand-color);
}

.button-design {
    border: var(--almost-white);
    cursor: pointer;
    width: 114px;
    height: 38px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 6;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
}
.button-design:hover,
.button-design:focus,
.button-design:active {
    color: var(--snow);
    background-color: var(--brand-color);
}
.project-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 6%;
    vertical-align: top;
    text-align: left;
}
.project-type {
    color: var(--mouse);
    font-size: 16px;
    line-height: 1, 9;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: left;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-line {
    border-bottom: #ececec solid 1px;
}
.flex-logo {
    display: flex;
    flex-basis: 145px;
    justify-content: flex-start;
    max-width: 145px;
    margin-left: 0px;
}
.flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    max-width: 245px;
    margin-left: 47px;
    margin-right: 371px;
}
.flex-adress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-right: 0px;
}
.container {
    width: 1200px;
    margin-inline: auto;
}
.card-set {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    padding: auto;
    width: 1170px;
}
.item {
    flex-basis: calc((100%-30px) / 4);
    padding: 15px;
}
.item h4 {
    width: 270px;
}
.item p {
    width: 270px;
}
.specialty-pics {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    gap: 33px;
    padding: 0;
}
.specialty-pics:last-child {
    margin: unset;
}
.specialty-item {
    flex-basis: calc((100%-30px) / 3);
    padding-left: 15px;
    padding-right: 15px;
}
.frame {
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}
.logo-bottom {
    padding: 60px 1240px 161px 215px;
}
.phone-bottom {
    padding-bottom: 60px;
}
.menu {
    display: flex;
    align-items: space-around;
    justify-content: center;
    gap: 8px;
}
.buttom-item {
    justify-content: space-between;
    align-items: space-around;
}
.menu-set {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1200px;
    padding: 0;
}
.item-set {
    flex-basis: calc((100%-60px) / 3);
}
.bottom-frame {
}
